/* colors for light mode*/
body {
    --primary-element-color: rgb(12, 12, 12);
    --secondary-element-color: rgb(122, 122, 122);
    --primary-bkg-color: #F4F4F4;
    --secondary-bkg-color: #fdfdfd;
    --tertiary-bkg-color: #e3e3e3;
    --accent-color : rgb(60, 147, 228);
}

@media (prefers-color-scheme: dark) {
    /* colors for dark mode*/
    body {
        --primary-element-color: #eee;
        --secondary-element-color: rgb(141, 141, 141);
        --primary-bkg-color:  #000;
        --secondary-bkg-color: #111111;
        --tertiary-bkg-color: #1c1c1c;
        --accent-color : rgb(47, 124, 196);
    }
}

/* Elements */
.primary-element {
    color: var(--primary-element-color);
}

.secondary-element {
    color: var(--secondary-element-color);
}

.white {
    color: #fff;
}

/* Debug colors */
.red {
    background-color: rgb(236, 89, 113);
}

.blue {
    background-color:  var(--accent-color);
}

.green {
    background-color: rgb(143, 236, 147);
}

.gray {
    background-color: rgb(209, 209, 209);
}