.container-max {
    width: 100%;
}

.container-full {
    width: 750px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.container-third-left {
    flex: 35%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.container-third-right {
    flex: 65%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.container-half-left {
    flex: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
}

.container-half-right {
    flex: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.in-container-center {
    margin-left: auto;
    margin-right: auto;
}

.container-spacer-right {
    margin-right: 0.8rem;
}

.container-spacer-left {
    margin-left: 0.8rem;
}

@media only screen and (max-width: 780px) {
    .container-full {
        width: 600px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .container-spacer-left, .container-spacer-right {
        margin: 0px;
    }

    /* perserve spacing for container-half in first media querie warpping point*/
    /* container-half-left and half-right are displayed next to each other still*/
    .container-third-right .container-half-left.container-spacer-right {
        margin-right: 0.5rem;
    } 

    .container-third-right .container-half-right.container-spacer-left {
        margin-left: 0.5rem;
    } 
}

@media only screen and (max-width: 630px) {
    .container-full {
        width: 95%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .container-third-left, .container-third-right, .container-half-left, .container-half-right {
        display: block;
        width: 100%;
    }

    .container-spacer-left, .container-spacer-right {
        margin: 0px;
    }

    /* remove spacing for container-half in second media querie warpping point*/
    /* container-half-left and half-right are displayed als blocks now*/
    .container-third-right .container-half-left.container-spacer-right {
        margin-right: 0px;
    } 

    .container-third-right .container-half-right.container-spacer-left {
        margin-left: 0px;
    } 
}

