/* Document */
body {
    background: var(--primary-bkg-color);
    font-family: 'Inter', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 110px; /* scrolling offsett */
}

hr {
    border: none;
    height: 1px;
    background-color: var(--secondary-element-color);
    opacity: 0.4;
}

.inline-container-left {
    display: flex;
    justify-content: flex-start;
}

.inline-container-right {
    display: flex;
    justify-content: flex-end;
}

.vertical-stack {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.opacity {
    opacity: 60%;
}

.text-center {
    text-align: center;
}

.featured-text {
    padding: 0.65rem;
}

.featured-text a {
    text-decoration: none;
}

.featured-text a:hover {
    text-decoration: underline;
}

/* Navigation bar */
.nav {
    background-color: var(--secondary-bkg-color);
}

.nav-container {
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
}

.nav-spacing {
    margin-right: 1.5rem;
}

/* Sticky on page navigation bar */
.onpage-nav {
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
}

div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: -1px;
    z-index: 1000;
    background-color: var(--primary-bkg-color);
}

div.sticky-heading {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 110px;
    height: 36px;
    z-index: 999;
}

/* Buttons */
.button {
    padding: 0.4rem 0.9rem 0.4rem 0.9rem;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: var(--secondary-element-color);
    display: inline-block;
}

.button:hover {
    background-color: var(--tertiary-bkg-color);
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

/* Images */
.img-container {
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: 5px;
}

.img-container::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--primary-bkg-color);
    opacity: 0;
    transition: .5s ease all;
}

img {
    transition: .5s ease all; 
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
    margin: 0;
    transform: scale(1.03);
}

.roundedCorner {
    border-radius: 5px;
}

.img-container:hover img {
  transform: scale(1.06);
}

.img-container:hover::after {
    transform: scale(1.05);
}

/* Links */
.a-plain {
     color: var(--primary-element-color);
    text-decoration: none;
}

.a-primary {
    color: var(--primary-element-color);
    text-decoration: none;
}

.a-primary:visited {
    color: var(--primary-element-color);
}

.a-primary:hover {
    color: var(--secondary-element-color);
}

.a-secondary {
    color: var(--secondary-element-color);
    text-decoration: none;
}

.a-secondary:visited {
    color: var(--secondary-element-color);
}

.a-secondary:hover {
    color: var(--primary-element-color);
}

.a-underline {
    text-decoration: underline;
}


/* Mobile */
@media only screen and (max-width: 780px) { 
    .hide-on-mobile {
        display: none;
    }

    .mb-on-mobile {
        margin-bottom: 1rem;
    }

    .mb-l-on-mobile {
        margin-bottom: 4rem;
    }

    body > div.sticky > div > div > div.container-full.inline-container-right.onpage-nav {
        /*display: block;
        margin-left: 0px;*/
        margin-right: 0px;
    }
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

#literal-widget a {
    text-decoration: none;
}

::selection {
    background-color: var(--primary-element-color);
    color: var(--primary-bkg-color);
}



