@import url('https://rsms.me/inter/inter.css');

.large-text {
    font-size: 1.45rem;
    line-height: 160%;
}

.regular-text {
    font-size: 1.05rem;
    line-height: 170%;
    
}

.small-text {
    font-size: 0.9rem;
    line-height: 160%;
}

.bold {
    font-weight: 600;
}