@import url('https://rsms.me/inter/inter.css');

.large-text {
    font-size: 1.7rem;
    line-height: 160%;
}

.medium-text {
    font-size: 1.2rem;
    line-height: 170%;
    
}

.small-text {
    font-size: 0.9rem;
    line-height: 160%;
}

.bold {
    font-weight: 600;
}