@font-face {
    font-family: Inter;
    src: url("../ressources/fonts/Inter-Regular.woff2");
  }

.large-text {
    font-size: 1.45rem;
    line-height: 160%;
}

.regular-text {
    font-size: 1.05rem;
    line-height: 170%;
    
}

.small-text {
    font-size: 0.9rem;
    line-height: 160%;
}

.no-wrap {
    white-space: nowrap;
}